# Python 编译文件
*.pyc
*.pyo
*.pyd

# __pycache__ 目录
__pycache__/

# 虚拟环境（可选）
venv/
.env/

# VSCode 配置（可选）
.vscode/


# 实验结果
training_figures/

# 文件备份
backup/

# 数据集
datasets/

test/

# MSE-ChatGLM3-6B-origin/